@import "vars";
@import "fonts";
@import "libs";
@import "_mixins/font-size";


body {
	height: 100%;
	width: 100%;
	min-width: 320px;
	margin: 0px;
	position: relative;

	font-family: $default-font;
	@include font-size(18, 27);
	font-weight: normal;
	color: $text;

	overflow-x: hidden;
}

*, ::after, ::before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	@include font-size(65, 60);
	font-weight: 600;
}

h2 {
	@include font-size(40, 60);
	font-weight: 600;
}

h3 {
	@include font-size(24, 60);
	font-weight: 600;
}


.gradient-background {

	position: relative;
	overflow: hidden;

	height: 100%;
	min-height: 100vh;
	background: linear-gradient(180deg, #56C2FF 0%, #0085D0 100%);

	.plain-img {
		position: absolute;
		top: 12%;
		right: 0;
	}
}

.plain-section {
	position: relative;
	margin-top: 8%;
	
	h1 {
		width: 100%;
		max-width: 571px;
		color: #fff;
	}

	h4 {
		margin-top: 22px;
		@include font-size(20, 30);
		font-weight: 300;
		color: #fff;
	}

	& > div {
		margin-top: 58px;
	}
}


.input {
	padding: 13px 26px;
	@include font-size(16, 24);
	border: none;
	border-radius: 5px;
	background-color: #fff;

	&::placeholder {
		color: rgba(154, 154, 154, 1);
	}
}

.button {
	padding: 13px 42px;
	@include font-size(16, 24);
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: $btn-bg-color;
	cursor: pointer;
	transition: all $transition;
	
	&:hover {
		background-color: $btn-bg-hover-color;
	}
}

.section-title {
	color: $text;
}

.nav {
	padding: 37px 0;
	display: flex;

	.nav_menu {
		margin: 0;
		margin-left: auto;
		padding: 0;

		display: flex;
		align-items: center;
	
		.nav_menu-item {
			list-style: none;

			&:not(:first-child) {
				margin-left: 39px;
			}

			.nav_menu-link {
				@include font-size(16, 24);
				color: #fff;
			}
		}
	}
}


.import-section {
	margin-top: 115px;


	.import_description {
		position: relative;
		height: 653px;
		margin-left: 84px;

		.import_woman-img {
			height: auto;
			width: 548px;
			display: block;
			object-fit: cover;
		}

		.import_text {
			margin-top: 50px;
			@include font-size(18, 27);
			color: #fff;
		}

		&:after {
			content: "";
			position: absolute;
			top: 203px;
			left: -84px;
			height: 450px;
			width: 725px;
			background-color: $accent-blue;
			z-index: -1;
		}
	}
	

	.import_main {

		.section-title {
			max-width: 170px;
			@include font-size(40, 50);
		}

		.import_worker-img {
			height: auto;
			width: 432px;
			margin-top: 70px;
			display: block;
			object-fit: cover;
		}
	}
}


.advantages-section {
	margin-top: 102px;


	.section-title {
		margin-left: 45px;
	}


	.advantages_stats {
		margin-top: 21px;
		margin-left: 45px;
		display: flex;

		.advantages_stats-item {
			width: 100%;
			max-width: 144px;
			display: flex;
			flex-direction: column;

			&:not(:last-child) {
				margin-right: 71px;
			}

			&:nth-child(2) {
				max-width: 65px;
			}

			.advantages_stats-item_value {
				margin-bottom: 9px;
				@include font-size(30, 45);
				font-weight: 600;
			}

			.advantages_stats-item_name {
				@include font-size(16, 24);
			}
		}
	}


	.advantages_grid {
		margin-top: 71px;
		// display: flex;
		// flex-wrap: wrap;

		display: flex;
		flex-direction: column;


		.advantages_grid-row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr;


			.advantages_grid-item {
				padding: 53px 42px;
				display: flex;
				flex-direction: column;
				align-items: center;


				&:not(:last-child) {
					border-right: 1px solid $advantages-grid-item-border-color;
				}


				.advantage_img {
	
				}
	
				.advantage_desc {
					width: 100%;
					max-width: 218px;
					margin-top: 22px;
					@include font-size(16, 24);
					text-align: center;
				}
			}


			&:first-child {
				.advantages_grid-item {
					border-bottom: 1px solid $advantages-grid-item-border-color;
				}
			}
		}

	}
}





@import "media";