@import "vars";
@import "fonts";
@import "libs";
@import "_mixins/font-size";


body {
	height: 100%;
	width: 100%;
	min-width: 320px;
	margin: 0px;
	position: relative;

	font-family: $default-font;
	@include font-size(18, 27);
	font-weight: normal;
	color: $text;

	overflow-x: hidden;
}

*, ::after, ::before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	@include font-size(65, 60);
	font-weight: 600;
}

h2 {
	@include font-size(40, 60);
	font-weight: 600;
}

h3 {
	@include font-size(24, 60);
	font-weight: 600;
}


.input {
	padding: 13px 26px;
	@include font-size(16, 24);
	border: none;
	border-radius: 5px;
	background-color: #fff;

	&::placeholder {
		color: rgba(154, 154, 154, 1);
	}
}

.button {
	padding: 13px 42px;
	@include font-size(16, 24);
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: $btn-bg-color;
	cursor: pointer;
	transition: all $transition;
	
	&:hover {
		background-color: $btn-bg-hover-color;
	}
}

.section-title {
	color: $text;
}


.gradient-background {

	position: relative;
	overflow: hidden;

	height: 100%;
	min-height: 100vh;
	background: linear-gradient(180deg, #56C2FF 0%, #0085D0 100%);

	.plain-img {
		position: absolute;
		top: 12%;
		right: 0;
	}
}

.plain-section {
	position: relative;
	margin-top: 8%;
	
	h1 {
		width: 100%;
		max-width: 571px;
		color: #fff;
	}

	h4 {
		margin-top: 22px;
		@include font-size(20, 30);
		font-weight: 300;
		color: #fff;
	}

	& > form {
		margin-top: 58px;
	
		.input {
			margin-right: 29px;
		}
	}
		
}


@import "header";
@import "import-section";
@import "advantages-section";
@import "warehouse-section";

@import "footer";

@import "media";
